<div class="container mt-2">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="bg-light p-2 my-2">
            <h2>Loto Resto</h2>
            <h4>Où manger aujourd'hui ?</h4>
            <p class="lead">
              Grâce à cet outil, vous pouvez choisir à quel endroit manger
              aujourd'hui dans avoir à débattre pendant des heures avec vos
              collègues ou faire un choix par défaut une fois dans la rue
            </p>
            <p class="text-center">
              <a
                (click)="launchRand()"
                class="btn btn-primary btn-lg"
                id="launchRand"
                href="#"
                role="button"
                >Choisir un Resto</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <app-table
            *ngIf="vm$ | async as vm"
            [selectedId]="vm.selectedId"
            [data]="vm.table"
            [MAX_LIGNE]="MAX_LIGNE"
          ></app-table>
        </div>
      </div>
      <footer>
        <hr />
        <p class="text-center text-muted fs-6">
          <a href="https://github.com/sikado/lotoResto"
            >Changer la liste des restaurants sur Github</a
          >
          - {{ version }}
        </p>
      </footer>
    </div>
  </div>
</div>
